.rounded-corners {
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 15px;
}

.oval-image {
    border-radius: 15% 50%;
    overflow: hidden;
    border: 3px solid #26DF96;
}

.ficha-div-size {
    width: 420px;
    height: 270px;
}

.ficha-text-size {
    font-size: 15px;
}

.image:hover{
    opacity: 0.5;
    cursor: pointer;
}