a{
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.grid-subcontainer {
    display: flex; /* Usamos flexbox para organizar los elementos en fila */
    align-items: center; /* Centramos verticalmente los elementos */
}

.grid-subcontainer2 {
    display: flex; /* Usamos flexbox para organizar los elementos en fila */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: space-between;
}

.borde{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.item {
    /*border: 1px solid #000;*/
    padding: 10px;
}

.item.two-row {
    grid-row: span 2;
}

.item.three-row {
    grid-row: span 3;
}

.item.four-row {
    grid-row: span 3;
}

.graphs_img{
    height: 20px;
    width: 20px;
}

.oval-image {
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.oval-image img{
    width: 100px;
    height: auto; 
    object-fit: cover;
    object-position: center;
    border-radius: 50% 50% 15% 50%;
}

.insta{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 18px;
    left: 10px;
}

.align-text-column{
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna vertical */
    justify-content: center; /* Centra verticalmente los elementos */
}

.align-text-row{
    display: flex;
    align-items: center;
}

.align-elements{
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna vertical */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
}