.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.item {
    border: 1px solid #000;
    padding: 10px;
}


.item.two-row {
    grid-row: span 2;
}

.item.three-row {
    grid-row: span 3;
}

.item.four-row {
    grid-row: span 3;
}